[project]
	description = MyCardClient for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/garymabin
[access "refs/for/refs/*"]
	read = group user/garymabin
	push = group user/garymabin
	label-Code-Review = -2..+2 group user/garymabin
	label-Verified = -1..+1 group user/garymabin
	rebase = group user/garymabin
	removeReviewer = group user/garymabin
	submit = group user/garymabin
[access "refs/heads/*"]
	read = group user/garymabin
	create = group user/garymabin
	push = +force group user/garymabin
	pushMerge = group user/garymabin
[access "refs/tags/*"]
	push = +force group user/garymabin
	pushTag = group user/garymabin
	pushSignedTag = group user/garymabin
